@mixin flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-align-center{
  display: flex;
  align-items: center;
}

@mixin flex-space{
  display: flex;
  justify-content: space-between;
}

@mixin absolute-center{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}