@import './reset';
@import './fonts';
@import './mixins';

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #525f7f;

  @media(max-width: 769px){
    font-size: 12px;
  }
}

.container{
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}